body {
  display: flex;
  flex-direction: row;
  background-color: #A9AAD2;
  font-family: "Open Sans";
  height: 100vh;
  min-height: 700px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.idea-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 200px;
}

.idea-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex: 0 0 auto;
}

form.idea-title #save-idea {
  width: 150px;
  font-family: "Open Sans";
  border-radius: 3px;
  background-color: #1F1F3D;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  padding-left: 15px;
  flex: 0 0 auto;
  width: 200px;
  background-color: #1F1F3D;
  color:#E9E9F3;
}

.show-starred-idea {
  background-color: #5356A4;
  color: #E9E9F3;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
}

.filter-box {
  border-color: 2px solid #353567;
}

.idea-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #EAEAF4;
  border: 2px solid blue;
  flex: 1;
  min-width: 900px;
}

.idea-container article {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 30%;
  margin: 5px;
}

.idea-container article header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  height: 25px;
}

.idea-container article button {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.idea-container article button img {
  height: 25px;
}

.idea-container article button img:last-child {
  display: none;
}
.idea-container article header button:hover img:last-child{
  display: block;
}

.idea-container article header button:hover img:first-child {
  display: none;
}

.idea-container article footer button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.idea-container article footer button span {
  color: #E9E9F3;
}

.idea-container article .idea-body {
  padding: 15px;
  background-color: #FFFFFF;
  height: 200px;
  overflow: auto;
}

.idea-container article .idea-body p {
  text-align: justify;
  color: #1F1F3D;
}

.idea-container article footer {
  background-color: #5356A4;
  height: 25px;
}
