body {
  display: flex;
  flex-direction: row;
  background-color: #A9AAD2;
  font-family: "Open Sans";
  height: 100vh;
  min-height: 700px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.idea-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 200px;
}

.idea-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 400px;
}

label {
  font: #1F1F3D;
  font-weight: bold;
}

input {
  display:block;
  display:flex;
  width: 100%;
}

.idea-form input[name="title"] {
  height: 40px;
}

.idea-form input[name="idea"] {
  height: 80px;
}

form.idea-title #save-idea {
  width: 100%;
  font-family: "Open Sans";
  border-radius: 3px;
  background-color: #1F1F3D;
  color: #FFFFFF;
  margin:10px 0;
  border: none;
  height: 80px;
}

#save-idea:disabled:hover {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.field-container {
  display: flex;
  border: 1 solid black;
  justify-content: flex-start;
  align-items: center;
}
.field-container img {
  width: 20px;
  background-color: #1F1F3D;
}
.field-container input {
  border: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  border: 2px solid none;
  padding-left: 15px;
  flex: 0 0 auto;
  width: 200px;
  background-color: #1F1F3D;
  color:#E9E9F3;
  font-size: 10px;
}

.show-starred-ideas {
  background-color: #5356A4;
  font-weight: bold;
  color: #E9E9F3;
  padding: 10px 30px;
  border-radius: 1px;
  border: none;
}

.filter-box {
  border: 2px solid #353567;
  box-sizing: content-box;
}

.idea-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #EAEAF4;
  border: 2px solid blue;
  flex: 1;
  min-width: 900px;
}

.idea-container article {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 30%;
  margin: 5px;
}

.idea-container article header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  height: 25px;
}

.idea-container article button {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.idea-container article button img {
  height: 25px;
}

.idea-container article button img:last-child {
  display: none;
}
.idea-container article header button:hover img:last-child{
  display: block;
}

.idea-container article header button:hover img:first-child {
  display: none;
}

.idea-container article header button.favorite-button img:last-child{
  display: none;
}

.idea-container article header button.favorite-button img:first-child {
  display: block;
}

.idea-container article.starred header button.favorite-button img:first-child {
  display: none;
}

.idea-container article.starred header button.favorite-button img:last-child{
  display: block;
}

.idea-container article footer button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.idea-container article footer button span {
  color: #E9E9F3;
}

.idea-container article .idea-body {
  padding: 15px;
  background-color: #FFFFFF;
  height: 200px;
  overflow: auto;
}

.idea-container article .idea-body p {
  text-align: justify;
  color: #1F1F3D;
}

.idea-container article footer {
  background-color: #5356A4;
  height: 25px;
}

.hidden {
  display: none;
}
